<p>Turns left: <%= @tally.turns_left %></p>
<p>Word so far: <%= show_as_word(@tally.letters) %></p>
<p>Letters used: <%= show_as_word(@tally.guesses) %></p>

<%= generate_new_game_button_or_form(@conn, @tally) %>
